
.cartIconContainer{
    display: flex;
    flex-direction: row;
    background-color: #666;
    border-radius: 10px;
    align-items: center
    
}
.cartIconContainer p{
    
    padding-right: 5px;
    

}


.cartIcon{
    padding: 5px;
    height: 40px;
    

}

.arrow{
    color: white;
}

.cantElem{
    color: white;
    text-decoration: none;
        
}


a:link, a:visited, a:active{
    text-decoration: none;
}
