.item-cart img{
       width: 10%;
       
}

h1{
    font-size: 25px;
}

.item-cart{
    display: flex;
    align-items: center;
    
}


.item-cart p{
    
    padding: 20px;
    display: inline-block;
    align-items: center;
    font-weight: 600;
    
}

.item-cart button{
    box-sizing: border-box;
    height: 30px;
    
    display: flex;
    
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    }

.form p{
    padding: 10px;
}

.form input{
    margin: 5px;
    border-radius: 5px;
    border: solid 2px rgb(88,88,88);
}

.form input:hover{
    background-color: bisque;
}

.form input:focus{
    background-color: rgb(253, 219, 177);
    color: rgb(255, 255, 255);
}

.form button{
    border: 1px solid #333;
    border-radius: 5px;
    width: auto;
    margin: 0 auto;
}

.form button:hover{
    background-color: bisque;
}