
.logoContainer{
    background-color: #666;
    border-radius: 10px;
}

.icon{
    padding: 5px;
    height: 60px;
    
    

}

 .link{
    color: #FFFFFF8C !important;
    text-decoration: none !important;
}

.link:hover{
    color:white !important;
}

.link-down {
color: #212529 !important;
text-decoration: none !important;
}