.item-product{
    float: left;
    width: 30%;
    
    box-shadow: 1px 1px 5px #afafaf47;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
}

.item-product img{
    width: 220px;
    height: 220px;
        
}

.buttonBuy{
border: solid 1px #333;
border-radius: 15px;
margin: 0 auto;
width: 40%;
margin-bottom: 15px;
margin-top: 10px;
}